{% extends "admin.html" %}
{% block main %}
        {{super()}}
        <div class="row">
            <div class="col-md-12">

                <div class="block">
                    <div class="header">
                        <h2>{{_('Categories')}}</h2>
                    </div>
                    <div class="content">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 18px;"><input type="checkbox" class="checkall"/></th>
                                    <th>{{_('Name')}}</th>
                                    <th>{{_('Parent')}}</th>
                                    <th>{{_('Created On')}}</th>
                                    <th>{{_('Status')}}</th>
                                    <th>{{_('Action')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for category in categories %}
                                <tr>
                                    <td><input type="checkbox" name="checkbox"/></td>
                                    <td>{{category.name}}</td>
                                    <td>{{category.parent.name}}</td>
                                    <td>{{category.created_at}}</td>
                                    <td>{{category.status}}</td>
                                    <td><a href="{{url_for('catalog.edit_category',id=category.id)}}">{{_("View")}}</a> &nbsp; <a href="{{url_for('catalog.add_category',id=category.id)}}">{{_("Delete")}}</a></td>
                                </tr>
                             {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-customer_paginate">
                                        {{ macros.pagination(pagination, 'catalog.category') }}
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}