{% extends "admin.html" %}
               {%block styles%}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/plugins/dataTables.bootstrap.css')}}">
    {%endblock%}
{%block heading %}
        {{super()}}
        <a href="{{url_for('customers.add')}}" class="btn btn-primary" title="{{_('Add new customer')}}">{{_("Add")}}</a>

        {%endblock%}
{%block main %}
    <div class="table-responsive">
                                <div id="dataTables-customer_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_length" id="dataTables-customer_length">
                                                <label><select name="dataTables-customer_length" aria-controls="dataTables-customer" class="form-control input-sm">
                                                    <option value="10">10</option><option value="25">25</option>
                                                    <option value="50">50</option><option value="100">100</option>
                                                </select> records per page</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="dataTables-customer_filter" class="dataTables_filter">
                                                <label>Search:<input type="search" class="form-control input-sm" aria-controls="dataTables-customer"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-customer">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 40px;"><input type="checkbox"></th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 40px;">{{_("Order ID")}}</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 258px;">{{_("Website")}}</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 258px;">{{_("Status")}}</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 238px;">{{_("Email")}}</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 171px;">{{_("Created On")}}</th>
                                            <th tabindex="0" rowspan="1" colspan="1" style="width: 127px;">{{_("Action")}}</th></tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                   <tr class="gradeA odd">
                                            <td class=""><input type="checkbox" value="{{ order.id }}" name="mass_ids[]"></td>
                                            <td class="">{{ order.increment_id}}</td>
                                            <td class=" ">{{order.website.name}}</td>
                                            <td class=" ">{{order.state}}</td>
                                            <td class=" ">{{order.customer.email}}</td>
                                            <td class="center ">{{order.created_at}}</td>
                                            <td class="center "><a href="{{url_for('sales.order_view',id=order.id)}}">{{_("View")}}</a></td>
                                        </tr>

                                    {% endfor %}


                                    </tbody>
                                </table>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_info" id="dataTables-customer_info" role="alert" aria-live="polite" aria-relevant="all">Showing 1 to 10 of 57 entries</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-customer_paginate">
                                                {{ macros.pagination(pagination, 'sales.order') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
{%endblock %}

