{% extends "base.html" %}
 {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block top_nav %}
                 <nav class="navbar brb" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-reorder"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('system.dashboard') }}"><img src="{{url_for('static', filename='img/logo.png')}}"/></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="{{ url_for('system.dashboard') }}">
                                    <span class="icon-home"></span>{{ _('Dashboard')}}</a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-globe"></span>{{_('Sales')}}</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('sales.order') }}">{{ _('Orders') }}</a></li>
                                   <li><a href="{{ url_for('sales.shipment') }}">{{ _('Invoices') }}</a></li>
                                    <li><a href="{{ url_for('sales.shipment') }}">{{ _('Shipments') }}</a></li>
                                    <li><a href="{{ url_for('sales.shipment') }}">{{ _('Credit Memos') }}</a></li>
                                    <li><a href="{{ url_for('sales.shipment') }}">{{ _('Returns') }}</a></li>
                                    <li><a href="{{ url_for('sales.shipment') }}">{{ _('Transactions') }}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-cogs"></span>{{ _('Catalog') }}</a>
                                <ul class="dropdown-menu">
                                      <li><a href="{{ url_for('catalog.category') }}">{{ _('Category') }}</a></li>
                                      <li><a href="{{ url_for('catalog.product') }}">{{ _('Product') }}</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-file-alt"></span>{{ _('Customer') }}</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('customers.customer') }}">{{ _('Customer') }}</a></li>
                                    <li><a href="{{ url_for('customers.group') }}">{{ _('Customer Group') }}</a></li>
                                    <li><a href="{{ url_for('customers.address') }}">{{ _('Address') }}</a></li>
                                    <li><a href="{{ url_for('customers.address') }}">{{ _('Message') }}</a></li>
                                    <!--
                                    <li>
                                        <a href="#">Error pages<i class="icon-angle-right pull-right"></i></a>
                                        <ul class="dropdown-submenu">
                                            <li><a href="sample_error_403.html">403 Forbidden</a></li>
                                            <li><a href="sample_error_404.html">404 Not Found</a></li>
                                            <li><a href="sample_error_500.html">500 Internal Server Error</a></li>
                                            <li><a href="sample_error_503.html">503 Service Unavailable</a></li>
                                            <li><a href="sample_error_504.html">504 Gateway Timeout</a></li>
                                        </ul>
                                    </li>
                                    -->
                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-cogs"></span>{{ _('System') }}</a>
                                <ul class="dropdown-menu">
                                     <li><a href="{{ url_for('system.website') }}">{{ _('Website') }}</a></li>
                                     <li><a href="{{ url_for('customers.group') }}">{{ _('Languages') }}</a></li>
                                     <li><a href="{{ url_for('customers.address') }}">{{ _('Address') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="search..."/>
                            </div>
                        </form>
                    </div>
                </nav>
                {% endblock %}
            </div>
        </div> <!-- nav row end -->

        {{ macros.breadcrumb(breadcrumb) }}

        {% block main %}
        {% endblock %}
        <div class="row">
            <div class="page-footer">
                <div class="page-footer-wrap">
                    <div class="side pull-left">
                        {{ _('Copyirght &COPY; Flasky 2014. All rights reserved.')}}
                    </div>
                </div>
            </div>
        </div> <!-- footer row end -->
</div><!-- container end-->

        {% endblock %}



