{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
  {{super()}}
  {{fixes.ie8()}}
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/plugins/metisMenu/metisMenu.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sb-admin-2.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css')}}">
{% endblock %}


{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='js/plugins/metisMenu/metisMenu.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/sb-admin-2.js')}}"></script>
{% endblock %}
